table.tableView {  
    color: #333;
    font-family: Helvetica, Arial, sans-serif;
    width: 80%; 
    border-collapse: 
    collapse; border-spacing: 0; 
}

td.tableView, th.tableView {  
    border: 1px solid transparent; /* No more visible border */
    height: 30px; 
    transition: all 0.3s;  /* Simple transition for hover effect */  
}

th.tableView {  
    background: #DFDFDF;  /* Darken header a bit */
    font-weight: bold;
    float: left;
}

td.tableView {  
    background: #FAFAFA;
    text-align: center;
    cursor: pointer;
}

/* Cells in even rows (2,4,6...) are one color */        
.tableView tr:nth-child(even) td { background: #F1F1F1; }   

/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */        
.tableView tr:nth-child(odd) td { background: #FEFEFE; }  

.tableView tr:hover {  color: rgb(207, 190, 30); }  

.tableView th:hover {  background: #bbdd9ae3;color: rgb(153, 163, 96); }  
/* Hover cell effect! */

#myInput {
    background-image: url('../img/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 30%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
  }
  
  #myTable {
    border-collapse: collapse; /* Collapse borders */
    width: 30%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
    
  }
  
  #myTable th, #myTable td {
    text-align: left; /* Left-align text */
    padding: 12px; /* Add padding */
    border: 1px solid #000000; /* Add a grey border */

  }
  
  #myTable tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd;

  }
  
  #myTable tr.header, #myTable tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
  }

  .zui-table {
    border: solid 1px #DDEEEE;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 13px Arial, sans-serif;
    text-align: left;

}
.zui-table  th {
    background-color: #DDEFEF;
    border: solid 1px rgba(10, 10, 10, 0.664);
    color: #336B6B;
    padding: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
}
.zui-table  td {
    border: solid 1px rgb(20, 20, 20);
    text-align: left;

    color: #333;
    padding: 10px;
    text-shadow: 1px 1px 1px #fff;
}


.arrow {
  border: solid black;
  float: right;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}


#wrapper {
  /* position: fixed; */
  top: 0;
  left: 0;
}

#userDetail{
  position: absolute; 
  top: 67px;
  right: 30px;
  /* padding-left : 255; */
  z-index: 10;
}
